#Database (Postgres)
DATABASE_USER=modify
DATABASE_PASSWORD=modify
DATABASE_NAME=modify
DATABASE_PORT=modify

#PGAdmin
PGADMIN_DEFAULT_EMAIL=modify
PGADMIN_DEFAULT_PASSWORD=modify
PGADMIN_PORT=modify

#Application
APP_DB_CLIENT=modify
APP_DB_NAME=modify
APP_DB_HOST=modify
APP_DB_PORT=modify
APP_DB_USER=modify
APP_DB_PASS=modify
APP_PORT=modify
APP_STRAPI_PORT=modify